.basket-main {
  font-family: 'Helios';
  .container {
    box-shadow: 0 0 1px 0 rgba(0,0,0,.25);
  }
  .container-in {
    width: 1200px;
    margin: 0 auto;
  }
  h2 {
    margin: 0 0 10px 0;
    font-family: 'Helios Bold';
    font-size: 25px;
  }
  .container-in {
    padding-top: 20px;
  }
  .after-count {
    font-size: 19px;
    font-family: 'Helios';
  }
  .one-product {
    height: 220px;
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DBDBDB;
    position: relative;
    .remove-btn {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 45px;
      background-image: url('../img/close.svg');
      background-position: center;
      background-size: contain;
    }
    .prod-info {
      width: calc( 100% - 310px );
    }
    .prod-img {
      width: 250px;
      height: 100%;
      margin-right: 60px;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .prod-name {
      font-size: 21px;
      font-family: 'Helios Bold';
      color: #161616;
      margin-bottom: 30px;
      display: block;
      padding-right: 30px;
    }
    .price {
      font-size: 18px;
      margin-bottom: 50px;
    }
    .bot {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .rape {
      display: flex;
      align-items: center;
      .label {
        font-size: 18px;
      }
    }
    .jq-selectbox__select {
      background: none;
      border: none;
      box-shadow: none;
    }
    .jq-selectbox__trigger {
      border-left: none;
    }
    .jq-selectbox__trigger-arrow {
      border: none;
      height: 100%;
      width: 100%;
      position: relative;
      top: 0;
      right: 0;
      &:after {
        content: "\f107";
        font-family: FontAwesome;
        font-size: 19px;
        color: #797979;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .jq-selectbox__select-text {
      color: #7A7A7A;
      font-size: 15px;
      font-family: 'Helios Bold';
      text-decoration: underline;
    }
    .count-price {
      display: flex;
      align-items: center;
    }
    .jq-number {
      display: flex;
      padding-right: 0;
      .jq-number__spin {
        background: #EDEDED;
        box-shadow: none;
        height: 30px;
        width: 25px;
        border-radius: 0;
        border: none;
        &:after {
          width: auto;
          height: auto;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
        &.minus {
          order: 1;
          position: relative;
          &:after {
            content: "-";
            border: none;
            font-size: 20px;
          }
        }
        &.plus {
          order: 3;
          position: relative;
          &:after {
            content: "+";
            border: none;
            font-size: 18px;
          }
        }
      }
      .jq-number__field {
        order: 2;
        width: auto;
      }
    }
    .jq-number__field {
      border: none;
      box-shadow: none;
      input {
        padding: 0;
        text-align: center;
        height: 30px;
        width: 63px;
        border: 1px solid #EDEDED;
      }
    }
    .sum {
      font-size: 17px;
      font-family: 'Helios Bold';
      margin-left: 55px;
    }
  }
  .total {
    text-align: right;
    padding-top: 25px;
    font-size: 16px;
    color: #727272;
    margin-bottom: 40px;
    span {
      font-size: 16px;
      font-family: 'Helios Bold';
      color: #010101;
    }
  }
  .basket-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    .clear-basket {
      background: #FFFFFF;
      color: #727272;
      box-shadow: none;
      width: auto;
      min-width: 0;
      padding: 15px 0 0 0;
      margin-right: 35px;
    }
    .to-order {
      background: #C60035;
      font-family: 'Helios Bold';
      max-width: 215px;
    }
    .back-to-catalog {
      color: #727272;
      .fa {
        position: relative;
        top: 2px;
        color: #787878;
        margin-right: 2px;
      }
      span {
        text-decoration: underline;
      }
    }
  }
  .mobile-basket-wrap {
    display: none;
  }
}