.catalog-tiles-container {
  .container {
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
  }
  .sort {
    padding: 30px 38px 10px 38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #171717;
    font-size: 16px;
    font-family: 'Helios Bold';
    .one-sort {
      display: flex;
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
    }
    .label {
      display: flex;
      align-items: center;
    }
    select {
      display: none;
    }
    .jq-selectbox__select {
      border: 1px solid #797979;
      color: #797979;
      font-family: 'Helios';
      min-width: 195px;
      background: none;
      box-shadow: none;
      text-shadow: none;
      border-radius: 0;
      margin-left: 12px;
    }
    .jq-selectbox__select-text {
      font-size: 16px;
    }
    .jq-selectbox__trigger {
      border-left: 0;
    }
    .jq-selectbox__trigger-arrow {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 0;
      &:after {
        content: "\f107";
        font-family: 'FontAwesome';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #161616;
        font-size: 17px;
      }
    }
  }
  .reviews {
    color: #797979;
    font-size: 16px;
    width: 100px;
    text-align: right;
  }
  .show-more-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .show-more {
      font-size: 20px;
      font-family: 'Helios Bold';
      display: block;
      margin: 0 auto 24px auto;
      height: 64px;
      &:not(:active):after {
        animation: md-btn-ripple 1.9s ease-out;
      }
      &:after {
        width: 340px;
        height: 200px;
        margin-left: -170px;
        margin-top: -100px;
      }
    }
    .pagination {
      list-style: none;
      font-size: 28px;
      display: flex;
      padding: 0;
      margin: 0;
      li {
        color: #171717;
        margin: 0 3px;
      }
      a {
        color: #797979;
      }
    }
  }

}
.tiles-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}
.catalog-tile {
  height: 605px;
  width: 33.333%;
  overflow: hidden;
  &:hover {
    position: relative;
    overflow: visible;
    z-index: 2;
    .catalog-tile-in {
      background: #FFFFFF;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    }
    .md-btn {
      opacity: 1;
    }
    .text {
      opacity: 1;
    }
    .img {
      transform: scale(1.05);
    }
  }
  .rank-review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    &:before {
      content: "";
      width: 100px;
    }
  }
  .rank {
    display: flex;
    color: #EC1C29;
    .fa {
      font-size: 23px;
    }
  }
  .reviews {
    &:hover {
      text-decoration: underline;
    }
  }
  .catalog-tile-in {
    transition: all 0.2s ease-out;
    padding: 20px;
  }
  .img-cont {
    height: 435px;
    display: block;
    position: relative;
    .img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: all 0.2s ease-out;
    }
  }
  .prod-name {
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Helios Bold';
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.65));
  }
  .product-price {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    span {
      font-family: 'Helios Bold';
    }
  }
  .md-btn {
    display: block;
    margin: 0 auto 35px auto;
    font-size: 16px;
    transition: all 0.2s ease-out;
    opacity: 0;
  }
  .text {
    font-size: 16px;
    padding-bottom: 40px;
    padding-left: 17px;
    padding-right: 17px;
    transition: all 0.2s ease-out;
    opacity: 0;
  }
}
.catalog-main {
  .articles-cont {
    margin-top: 45px;
  }
  .seo-cont {
    margin-bottom: 65px;
    h3 {
      font-size: 40px;
      color: #000000;
      margin: 0 0 30px 0;
      text-align: center;
    }
    .seo-text {
      color: #000000;
      font-size: 16px;
      width: 750px;
      margin-left: auto;
      margin-right: auto;
      img {
        display: block;
        width: 100%;
        margin: 20px 0;
      }
    }
    .text-in {
      overflow: hidden;
      max-height: 480px;
      position: relative;
      transition: all 0.2s ease-out;
      &.open {
        max-height: 1000px;
        &:after {
          display: none;
        }
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(255,255,255,1));
      }
    }
    .js-read-more {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #000000;
      width: 220px;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Helios Bold';
      font-size: 16px;
      margin-top: 25px;
    }
  }
}

.feedback-cont {
  display: flex;
  padding: 0 33px;
  .img-part {
    width: 540px;
    background-size: cover;
    background-position: center;
  }
  .form-part {
    background: #F5F5F5;
    flex-grow: 1;
    padding-top: 55px;
    padding-bottom: 40px;
  }
  .form-group {
    margin-bottom: 25px;
  }
  h5 {
    color: #171717;
    font-size: 32px;
    font-family: 'Helios Bold';
    margin: 0 0 40px 0;
    text-align: center;
  }
  .form-in {
    width: 415px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .label {
    color: #171717;
    font-size: 16px;
    font-family: 'Helios Bold';
    margin: 0 0 3px 0;
    display: block;
    text-align: left;
  }
  input[type='text'],
  input[type='email'] {
    display: block;
    width: 100%;
    height: 34px;
    border: 1px solid #797979;
    padding-left: 8px;
  }
  .checkbox-wrap {
    display: flex;
    margin-top: 15px;
  }
  .checkbox-cont {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  .jq-radio {
    box-shadow: none;
    background: #FFFFFF;
    border: 1px solid #7C7C7C;
    position: relative;
    &.checked {
      border: 1px solid #EC1C29;
      .jq-radio__div {
        position: absolute;
        top: 50%;
        left: 13px;
        transform: translate(-50%,-50%);
        margin: 0 0;
        width: 8px;
        height: 8px;
        background: #EC1C29;
        box-shadow: none;
      }
    }
  }
  textarea {
    width: 100%;
    resize: none;
    height: 70px;
    border: 1px solid #797979;
    padding: 5px;
  }
  .md-btn {
    height: 40px;
    font-family: 'Helios Bold';
    font-size: 16px;
  }
}

.articles-cont {
  margin-bottom: 35px;
  h3 {
    margin: 0 0 35px 0;
    font-size: 40px;
    text-align: center;
  }
  .articles-wrap {
    padding: 0 20px;
    display: flex;
    margin-bottom: 40px;
  }
  .one-article {
    width: 33.333%;
    margin: 0 13px;
    display: block;
    height: 310px;
    position: relative;
    .article-title {
      padding: 0 10px 0 20px;
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #FFFFFF;
      font-size: 20px;
      font-family: 'Helios Bold';
      height: 75px;
      background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.65));
    }
    img {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,0);
      width: auto;
      height: 100%;
    }
  }
  .more-articles-cont {
    display: flex;
    justify-content: center;
  }
  .more-articles {
    background: #171717;
    height: 40px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Helios Bold';
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

