.shares-main {
  .container {
    box-shadow: 0 0 1px 0 rgba(0,0,0,.25);
    padding-top: 20px;
  }
  .container-in {
    width: 1200px;
    margin: 0 auto;
  }
  h1 {
    margin: 0 0 20px 0;
    font-size: 31px;
  }
  .one-share {
    margin-bottom: 50px;
    .timer-title {
      color: #6B6B6B;
      font-size: 14px;
      text-align: center;
      height: 22px;
      line-height: 22px;
      white-space: nowrap;
    }
    .share-img {
      display: block;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .time-name {
      display: flex;
    }
    .date-time {
      width: 100%;
      display: flex;
    }
    .one-val {
      width: 34.00%;
      background-color: #111111;
      font-size: 8px;
      line-height: 20px;
      color: #FFFFFF;
      text-transform: uppercase;
      text-align: center;
    }
    .timer {
      width: 132px;
      overflow: hidden;
    }
  }
  /* counter */
  .all-counts {
    float: left;
    font-size: 100%;
    text-align: center;
    min-width: 132px;
  }
  .action-count-in {

    font-size: 14px;
    line-height: 22px;

  }
  .countDays,
  .countHours,
  .countMinutes,
  .countSeconds {
    font-size: 18px;
  }
  .countDiv {
    display: inline-block;
    width: 14px;
    height: 1.6em;
    position: relative;
    font-size: 15px;
    line-height: 1.5;
  }
  .countDiv::before {
    top: 0.8em;
  }
  .countDiv::after {
    top: 1.2em;
  }
  .countdownHolder {
    text-align: center;
  }
  .share-name-wrap {
    flex-grow: 1;
    padding-left: 50px;
    display: flex;
    align-items: center;
  }
  .share-name {
    font-size: 30px;
    line-height: 1.1;
    font-family: 'Raleway', sans-serif;
    color: #23527c;
    transition: all 0.1s ease;
    &:hover {
      color: #EC1C29;
    }
  }
  .more-shares {
    background: #333333;
    font-family: 'Helios Bold';
    margin: 0 auto 20px auto;
    display: block;
    height: 42px;
    font-size: 17px;
  }
  .tiles-wrap {
    margin: 0 -20px;
    padding: 0;
  }
  .share-price {
    text-align: center;
    color: #949494;
    font-size: 20px;
    min-height: 30px;
    b {
      font-family: 'Helios Bold';
    }
  }
  .catalog-tile {
    .rank-review {
      height: 50px;
    }
    .product-price {
      font-size: 22px;
    }
  }
}
.one-share-main {
  .one-share {
    margin-bottom: 20px;
  }
}