@media (max-width: 1024px) {
  header {
    & .nav>li>a {
      padding: 7px;
      font-size: 13px;
    }
  }
  .baner {
    .breadcrumbs {
      padding-top: 10px;
      font-size: 14px;
    }
    .page-title-container {
      h1 {
        font-size: 30px;
        margin: 0 0 5px;
      }
    }
  }
  .catalog-tiles-container {
    .sort {
      padding: 15px 25px 5px;
    }
    .show-more-cont {
      .show-more {
        font-size: 18px;
        height: 50px;
      }
    }
  }
  .catalog-tile {
    .catalog-tile-in {
      padding: 10px;
    }
    .product-price {
      font-size: 20px;
    }
    .md-btn {
      margin: 0 auto 15px;
    }
    .text {
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .articles-cont {
    h3 {
      margin: 0 0 15px;
      font-size: 30px;
    }
    .one-article {
      margin: 0 10px;
    }
    .articles-wrap {
      padding: 0 15px;
    }
  }
  .catalog-main {
    .seo-cont {
      h3 {
        font-size: 30px;
        margin: 0 0 15px;
      }
      .seo-text {
        width: 100%;
        padding: 0 25px;
      }
    }
  }
  .feedback-cont {
    h5 {
      font-size: 23px;
      margin: 0 0 15px;
    }
    .form-part {
      padding-top: 25px;
    }
  }
  footer {
    .container {
      padding: 55px 33px 0;
    }
  }
}

