@media (max-width: 1300px) {
  header {
    .main-navigation {
      .menu-category {
        a {
          font-size: 14px;
          white-space: nowrap;
        }
        .has-submenu {
          margin: 0 30px;
        }
      }
      .level-2 li a {
        white-space: normal;
        font-size: 11px;
      }
    }
  }
  .banners-below-nav-wrapper {
    .banner-below-nav-title {
      font-size: 13px;
    }
  }
  .blog-posts {
    .post-list {
      .post-image {
        height: 160px;
      }
    }
  }
  footer {
    padding: 25px 0 25px;
  }
  .product-main {
    padding: 0 20px;
    .banners-below-nav-wrapper {
      margin-left: -20px;
      margin-right: -20px;
    }
    .product-image-container {
      flex-direction: column-reverse;
    }
    .product-primary-image {
      width: 100%;
      margin-bottom: 10px;
    }
    .product-name {
      font-size: 20px;
      height: auto;
      margin-top: 0;
    }
    .product-thumbnails-container {
      width: 100%;
      display: flex;
      justify-content: center;
      .one-thumb {
        width: 88px;
        margin: 0 10px;
      }
    }
    .product-price {
      margin: 10px 0 10px;
    }
    .product-variations {
      .value {
        .color {
          li {
            margin-bottom: 0;
          }
        }
      }
    }
    .product-primary-image-cont {
      width: 100%;
      margin-bottom: 20px;
    }
    .prod-thumbnails-container {
      width: 340px;
      margin-left: auto;
      margin-right: auto;
      .slick-arrow.prev {
        left: -30px;
        width: 30px;
        height: 100%;
        position: absolute;
        top: 0;
        .fa {
          transform: rotate(-90deg) translate(60%,-30%);
          position: absolute;
          top: 50%;
          left: 50%;
        }
      }
      .slick-arrow.next {
        right: -30px;
        width: 30px;
        height: 100%;
        position: absolute;
        top: 0;
        .fa {
          transform: rotate(-90deg) translate(60%,-30%);
          position: absolute;
          top: 50%;
          left: 50%;
        }
      }
      .one-thumb {
        margin: 0 7px;
      }
    }
  }
}