@media (max-width: 768px) {
  .desctop-header {
    display: none;
  }
  .baner {
    .breadcrumbs {
      padding-top: 0;
      width: 100%;
      padding-left: 28px;
    }
    .page-title-container {
      padding-top: 25px;
      h1 {
        font-size: 19px;
      }
      .after-title {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 600px) {

}