@media (max-width: 768px) {
  header {
    padding: 10px 15px;
    height: 53px;
    .mobile-user-info {
      padding-left: 57px;
      margin-top: 10px;
      display: block;
      .mobile-user-title {
        font-size: 11px;
        font-weight: 700;
        margin-bottom: 20px;
        &:before {
          content: "";
          font-family: icons!important;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          margin-left: -35px;
          font-size: 22px;
          margin-right: 8px;
        }
      }
      .user-links {
        .user-link-item {
          color: gray;
          display: block;
          font-size: 11px;
          line-height: 16px;
          margin-bottom: 20px;
          text-transform: uppercase;
          text-decoration: underline;
        }
      }
    }
    .container, .top-line {
      height: 100%;
    }
    .left-part, .right-part {
      padding-top: 0;
    }
    .mini-cart-content {
      display: none !important;
    }
    .user-info {
      display: none;
    }
    .logo {
      height: 30px;
    }
    .main-navigation {
      display: none;
    }
    .search-form-wrap {
      display: none;
    }
    .header-search-btn {
      display: none;
    }
    .center {
      padding-top: 0;
    }
    .mobile-menu-toggle {
      display: flex;
      align-items: center;
      font-size: 22px;
      cursor: pointer;
      padding: 0 5px;
      &:before {
        content: "";
        font-family: icons!important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
      }
    }
    .main-navigation {
      display: flex;
      flex-direction: column;
      position: fixed;
      background: #FFFFFF;
      height: 100vh;
      overflow-y: auto;
      top: 0;
      left: -100vw;
      width: 100%;
      z-index: 9;
      transition: left 0.3s ease-out;
      &.open {
        left: 0;
      }
      .level-2 {
        position: static;
        padding: 0;
        min-height: 0;
        border-bottom: none;
        border-top: none;
        display: none !important;
        .global-nav {
          flex-wrap: wrap;
        }
        .menu-vertical {
          width: 100% !important;
          padding: 0 !important;
          margin: 0;
          &.open {
            h3 {
              &:after {
                content: '';
              }
            }
            & ul {
              display: block;
            }
          }
          ul {
            display: none;
          }
          li {
            margin: 0;
            padding: 14px 45px 12px 40px;
            border-bottom: 1px solid #aaa;
            a {
              font-size: 14px;
              line-height: 17px;
              letter-spacing: normal;
              font-weight: 400;
              color: #505050;
            }
          }
        }
        .menu-vertical-banner {
          display: none;
        }
        h3 {
          margin: 0 0;
          padding: 14px 45px 12px 40px;
          font-size: 14px;
          text-transform: uppercase;
          position: relative;
          &:after {
            content: "";
            font-family: icons!important;
            speak: none;
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
      .menu-category {
        flex-direction: column;
        margin-top: 0;
        justify-content: flex-start;
        & > li {
          margin: 0 !important;
          padding: 0 !important;
          border-top: 1px solid #aaa;
          display: block;
          position: relative;
          text-align: left;
          & > a {
            font-size: 16px;
            padding: 16px 20px 16px 20px;
            font-weight: 700;
            color: #000;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            &:after {
              content: "" !important;
              width: auto !important;
              height: auto !important;
              position: static !important;
              border: none !important;
              font-family: icons!important;
              speak: none;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              font-variant: normal;
              text-transform: none;
              -webkit-font-smoothing: antialiased;
            }
          }
        }
        .has-submenu {
          &.opened {
            background: #000;
            & > a {
              color: #FFF;
              &:after {
                transform: rotate(-180deg);
              }
            }
            .level-2 {
              display: block !important;
            }
          }
        }
        .menu-close-item {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: 50px;
          min-height: 50px;
          border-top: 0 !important;
        }
        .icon-close {
          color: #000;
          padding: 10px;
          font-size: 20px;
          display: flex;
          align-items: center;
          z-index: 5;
          margin-right: 12px;
          cursor: pointer;
          &:before {
            content: "";
            font-family: icons!important;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }
  }
  .banners-below-nav-wrapper {
    .banner-below-nav-title {
      font-size: 11px;
    }
    .col-3 {
      width: calc(100% - 35px);
    }
    .banner-below-nav-subtitle {
      font-size: 10px;
    }
  }
  .two-banners {
    .flex-container {
      flex-direction: column;
    }
    .col-2 {
      width: 100%;
      padding: 0;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
  .three-banners {
    .flex-container {
      flex-direction: column;
    }
    .col-3 {
      width: 100%;
      padding: 0;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .full-banner {
    img {
      display: none;
    }
    .is-mobile {
      display: block;
    }
  }
  .full-banner, .three-banners, .two-banners {
    margin-bottom: 20px;
    a {
      img {
        margin: 0 auto;
      }
    }
  }
  .tabs-slider {
    margin-bottom: 20px;
  }
  .blog-posts {
    .post-list {
      flex-wrap: wrap;
      .post-tile {
        width: 50%;
      }
    }
  }
  footer {
    .accordion-item {
      width: 50% !important;
      padding: 0 10px;
      margin-bottom: 15px;
    }
    .footer-copy-wrapper {
      flex-direction: column;
    }
  }
  .account-login-wrapper {
    .cols {
      flex-wrap: wrap;
      .col-2 {
        width: 100%;
      }
    }
    .login-box-content {
      padding: 0 15px;
    }
    .form-wrapper {
      .form-group {
        margin-bottom: 25px;
      }
      .form-box {
        padding: 0 15px;
      }
      .message {
        width: 100%;
      }
      .day-wrap, .year-wrap {
        width: 25%;
        select {
          padding: 0 10px 0 10px;
        }
      }
      .message {
        display: block;
        width: 100%;
        max-width: none;
        padding: 0;
        margin-top: 5px;
        margin-bottom: -10px;
      }
      .section-header {
        margin-bottom: 25px;
      }
      .privacy-agreement {
        text-align: center;
      }
      .form-accept {
        overflow: hidden;
        button {
          margin-right: auto;
        }
      }
    }
  }

  .basket-wrapper {
    .cart-actions {
      flex-wrap: wrap;
      .cart-title {
        width: 100%;
      }
      .checkout-link {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    th {
      display: none;
    }
    .is-in-stock {
      display: none;
    }
    .price-sales-wrap {
      display: none;
    }
    .basket-form {
      .code {
        display: none;
      }
      tr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
      }
      .image-contain {
        width: 50%;
        a {
          max-width: 160px;
        }
      }
      .product-info {
        width: 50%;
      }
      .variations .attribute {
        .label {
          text-transform: uppercase;
          color: #aaa;
        }
        .value {
          font-weight: 700;
        }
      }
      .price-total-wrap {
        position: static;
        padding: 0;
        .price-total {
          position: absolute;
          right: 20px;
          top: 108px;
        }
      }
      .item-details-action {
        display: flex;
        flex-direction: column;
        a {
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .button-remove {
        bottom: 60px;

      }
      .image-contain {
        padding: 15px;

      }
    }
    .is-mobile {
      display: block;
    }
    .qty {
      display: none;
    }
  }
  .catalog-main {
    .back-button {
      height: 40px;
      order: 3;
      background: #000000;
      color: #FFFFFF;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      margin-left: 20px;
      font-size: 12px;
      font-weight: 700;
    }
    .left-side {
      //display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #FFFFFF;
      z-index: 99;
      width: auto;
    }
    .refinements-info-wrapper {
      width: 100%;
      margin-bottom: 20px;
      .breadcrumb-refinement {
        margin: 0 6px 5px 0;
      }
    }
    .breadcrumb-refinement-wrap {
      width: 100%;
    }
  }
  .refinements-wrapper {
    width: 100%;
    margin-bottom: 30px;
    .refinement-head {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: 1px solid #000000;
      background: none;
      padding: 13px 10px 13px 0;
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      .icon-menu-arrow {
        display: block !important;
        padding: 0;
        transform: rotate(-90deg);
        &:before {
          font-size: 10px;
        }
      }
    }
    .mobile-control-buttons {
      display: flex;
    }
    .refinement>div {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99;
      border: none;
      ul {
        max-height: calc( 100vh - 100px );
        overflow-y: auto;
      }
    }
    .m-refinement-header {
      font-weight: 700;
      font-size: 14px;
      padding: 20px 0;
      display: block !important;
      span {
        font-weight: 400;
        margin-left: 10px;
      }
    }
  }
  .primary-content {
    .show-mobile {
      display: block;
    }
    .search-product-count-wrapper {
      display: none;
    }
    .view-on-page {
      display: none;
    }
  }
  .primary-content {
    .search-result-content {
      .grid-tile {
        width: 33.333%;
      }
      .product-tile {
        padding-bottom: 20px;
      }
    }
    .sort-result-options {
      background: #FAFAFA;
      margin-top: 15px;
      margin-bottom: 20px;
      flex-wrap: wrap;
      .pagination-list {
        margin-top: 10px;
      }
      span {
        display: none;
      }
    }
    .mobile-refine-by {
      background: #000000;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 12px;
      width: 49%;
      margin-right: 0;
    }
    .select-wrapper {
      width: 49%;
      .is-mobile {
        margin-right: 0;
        width: 100%;
      }
      select {
        width: 100%;
      }
    }
    .pagination-list {
      padding: 10px 0;
      margin-bottom: 0;
      margin-top: 0;
    }
    .search-result-content {
      padding: 0 15px;
    }
    .paginate-select {
      height: 40px;
      padding: 0 22px 0 10px;
    }
    .plp-banner-wrapper {
      margin-top: 25px;
    }
  }
  .product-main {
    .product-col-1 {
      width: 100%;
    }
    .product-col-2 {
      width: 100%;
    }
    .product-name {
      display: none;
      &.mobile {
        text-align: center;
        font-size: 22px;
        margin: 10px 0 15px 0;
        font-weight: lighter;
        display: block;
      }
    }
    .product-image-container {
      margin-bottom: 15px;
    }
    .breadcrumb {
      display: none;
    }
    .product-thumbnails-container {
      display: block;
      margin-left: -5px;
      margin-right: 5px;
      .one-thumb {
        display: inline-block;
        margin: 0 5px;
        width: 80px;
      }
    }
    .product-variations {
      .value {
        ul {
          flex-wrap: wrap;
        }
      }
    }
    .prod-thumbnails-container {
      width: calc( 100% - 60px );
    }
    .product-additional-info {
      margin-bottom: 15px;
    }
  }
  .zoomContainer {
    display: none !important;
  }
  .tabs-container {
    .tab-labels {
      margin-bottom: -1px;
    }
    .tab-label {
      border: 1px solid #000000;
      margin: 0 0 0 -1px;
      color: #000000;
      font-weight: 400;
      padding: 10px 15px;
      font-size: 16px;
      &:first-child {
        margin-left: 0;
      }
    }
    .tab-contents {
      border-top: 1px solid #000;
    }
  }
  .order-main {
    padding: 25px 20px;
    .cols {
      flex-direction: column;
      .col-2 {
        width: 100%;
      }
    }
  }
  .profile-main {
    .profile-content {
      flex-direction: column-reverse;
    }
    .profile-tab-content {
      padding-left: 0;
      width: 100%;
    }
    .profile-nav {
      width: 100%;
    }
    .form-wrapper {
      .section-header {
        margin-bottom: 15px;
      }
    }
    .account-tab-content {
      fieldset {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .form-wrapper {
      .form-group {
        margin-bottom: 20px;
        label {
          margin-bottom: 5px;
        }
      }
    }
  }
  .order-history-tab {
    .section-header {
      margin: 0 0 15px;
    }
    .order-top {
      padding: 15px 10px;
    }
    .one-order {
      .black-btn {
        width: 145px;
      }
    }
    .order-bottom {
      padding: 10px;
    }
  }
  .modal-buy {
    width: 430px;
    padding: 15px;
    .detail-main {
      flex-direction: column;
    }
    .product-col-1 {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
    .product-col-2 {
      width: 100%;
    }
    .bot-modal-cart {
      .add-to-cart {
        margin-left: 10px;
        padding: 7px;
      }
    }
    .wishlist-button {
      margin-left: 10px;
    }
  }
  .checkout-main {
    padding-bottom: 30px;
    .checkout-main-in {
      flex-wrap: wrap;
    }
    .user-info {
      width: 100%;
      margin-right: 0;
    }
    fieldset {
      max-width: 560px;
    }
    .checkout-info-column {
      width: 100%;
    }
    .send-order {
      width: 100%;
      text-align: center;
    }
  }
  .search-main {
    .search-recommended-categories-wrapper {
      .search-recommended-categories {
        flex-wrap: wrap;
        .one-cat {
          width: calc( 50% - 10px );
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .wishlist-tab {
    tr {
      display: flex;
      flex-wrap: wrap;
    }
    .image-contain {
      width: 50%;
      padding-bottom: 0;
    }
    .product-info {
      width: 50%;
      padding-bottom: 0;
    }
    .price-total-wrap {
      width: 100%;
      padding-left: 20px;
    }
    .bottom-control {
      position: static;
    }
    .item-details-action {
      flex-direction: row;
    }
    .bottom-control {
      margin-top: 10px;
      .std-btn {
        flex-grow: 1;
      }
      .js-quantity {
        margin: 0 10px;
      }
    }
    .qty-desired {
      width: 50%;
      padding-bottom: 0;
      text-align: left;
      .js-quantity {
        padding: 10px 10px;
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
    .date-added {
      width: 50%;
      padding-bottom: 0;
    }
    .price-total-wrap {
      padding-top: 10px;
    }
    .social-sharing-panel {
      margin-bottom: 15px;
    }
    .section-header {
      h2 {
        margin: 9px 0 15px;
      }
    }
    .label-mobile {
      display: block;
    }
  }
  .modal-size {
    width: 430px;
  }
  .checkout-main {
    h2 {
      font-size: 20px;
    }
    .form-group {
      margin-bottom: 15px;
      label {
        width: 100%;
        margin-bottom: 4px;
      }
      .regular-input {
        width: 100%;
      }
      .help-block {
        width: 100%;
      }
    }
    fieldset {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .delivery-list, .pay-list {
      .one-type {
        width: 100%;
        margin: 0 0 15px 0 !important;
        height: 65px;
        flex-direction: row;
        padding: 15px !important;
        .img-cont {
          height: 100%;
          margin-bottom: 0;
        }
      }
      .delivery-prop {
        margin-top: 0;
      }
    }
    .send-order {
      margin-top: 0;
      padding: 0 12px;
      .black-btn {
        width: 100%;
      }
    }
  }
  .forgot-password-modal {
    border: none;
    width: 90%;
    .flex {
      flex-direction: column;
    }
    .regular-input {
      height: 40px;
      margin-bottom: 20px;
    }
    .black-btn {
      width: 100%;
    }
  }
  .start-profile-page {
    .account-controls {
      flex-wrap: wrap;
      .std-btn {
        width: 100%;
      }
    }
    .cols {
      flex-wrap: wrap;
    }
    .account-box {
      width: 100%;
    }
    .order-history-cont {
      .order-top {
        flex-direction: column;
        table {
          margin-bottom: 10px;
        }
      }
    }
  }
  .search-tablet {
    text-align: center;
    padding-bottom: 15px;
  }
}